h3 {
    font-weight: 400;
}

.dashboard {
    background-color: rgb(248, 248, 248);
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.dashboard-part {
    width: 100%;
}

section {
    margin: 20px 30px;
}

.content {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
}

canvas#myChart {
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
}

.overview-content-income {
    display: flex;
    flex-direction: horizontal;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
}

.overview-content-income-orders {
    background-color:#2b78c2;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    place-items: center;
    margin: 12px;
    width: 100%;
}

.overview-content-income-orders-text {
    padding: 10px;
}

.overview-content-income-orders-graph {
    justify-items: center;
    align-content: center;
}

.overview-content-income-orders-graph svg {
    stroke-width: 2.5;
}

.overview-content-income-products {
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    margin: 12px;
    width: 100%;
    align-content: center;
}

.overview-content-income-products-text {
    padding: 10px 15px;
}

.overview-content-categories {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.overview-content-category {
    justify-items: center;
}

.title {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: center;
}

.morecategories-title-button {
    padding: 5px 15px;
    background-color: white;
    color: gray;
    font-weight: 300;
}

.morecategories-entry {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: space-between;
}

.morecategories-category-button {
    padding: 10px 20px;
    background-color: #2b78c2;
    color: white;
    border-radius: 8px;
}

.expiration-item {
    display: flex;
    flex-direction: horizontal;
    width: 100%;
    justify-content: space-between;
}

.expiration-item-text {
    margin-left: 30px;
}

.expiration-item-date {
    margin-right: 30px;
    color: red;
}

.expiration-title-button {
    padding: 5px 15px;
    background-color: rgb(248, 248, 248);
    color: gray;
    font-weight: 300;
}

@media screen and (max-width: 1150px) {
    .dashboard {
        flex-direction: column;
    }

    .dashboard-part {
    }

    section {
        width: 600px;
        justify-self: center;
    }

}
