<!-- 
 This is the dashboard
 Contains:
 - Overview that lists product numbers and categories
 - A section to list more categories
 - List of upcoming expirations
 - Component to display statistics
 -->

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard">
    <!-- Left side of the dashboard (overview & more categories) -->
    <div class="dashboard-part">
        <section>
            {% include 'components/overview.html' %}
        </section>
        <section>
            {% include 'components/morecategories.html' %}
        </section>
    </div>

    <!-- Right side of the dashboard (expiration & statistics) -->
    <div class="dashboard-part">
        <section>
            {% include 'components/expiration.html' %}
        </section> 
        <section>
            {% include 'components/statistics.html' %}
        </section>
    </div>
    
</div>
{% endblock %}