<!-- 
 This is the dashboard
 Contains:
 - Overview that lists product numbers and categories
 - A section to list more categories
 - List of upcoming expirations
 - Component to display statistics
 -->

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard">
    <section class="overview">
        {% include 'components/overview.html' %}
    </section>
    <section class="overview">
        {% include 'components/morecategories.html' %}
    </section>
</div>
{% endblock %}