<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>

    <main class="main-content">
      <section class="table-section">
        <table>
          <thead>
            <tr>
              <th>Categoria</th>
              <th>Número (ID)</th>
              <th>Nom</th>
              <th>Qtat.</th>
              <th>Preu</th>
              <th>Caducitat</th>
              <th>Proveedor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    <div class="centered-content">
                      <img src="../static/images/Cap.png" alt="Cap"><br/>
                      Cap
                    </div>
                  </td>
              <td>163896292</td>
              <td>Amoxicil·lina</td>
              <td>7</td>
              <td>EUR 28,99</td>
              <td>30/08/2024</td>
              <td>Ubiopharma</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</body>
</html>
