<!-- Lists additional categories -->
<div class="title">
    <h2>Més categories</h2>
    <button class="morecategories-title-button">See All</button>
</div>
<div class="content">
    <div class="morecategories-entry">
        <img
        src="../static/images/Organs Interns.png"
        alt="Internal Organs"
        style="height: 34px"
        />
        <div
            style="font-size: 12px">
            Òrgans Interns
        </div>
        <div
            style="width: 40%; font-size: 12px; color: gray"

        >
            Cor, pulmons, fetge, ronyons, estómac...
        </div>
        <button class="morecategories-category-button">
            Entra >>
        </button>
    </div>
</div>