<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>IA FARMACIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newproduct.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <form action="http://localhost:5000/submit" method="post"></form>
    <style>
        body { font-family: Arial, sans-serif; }
    </style>
</head>
<body>
    <div class="main-container">
      {% include 'components/sidebar.html' %}
      <div class="main-content">
        {% include 'components/header.html' %}
        <div style="margin-top: 60px;">
            <h3>Completa aquí</h3>
            <form class="form-container">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="nom">Número (ID)</label>
                        <input type="ID" id="nom" name="nom" required />
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom del Producte</label>
                        <input type="text" id="cognom" name="cognom" required />
                    </div>
                    <div class="form-group">
                        <label for="1uantitat">Quantitat</label>
                        <input type="text" id="farmacia" name="farmacia" required />
                    </div>
                    <div class="form-group">
                        <label for="mil•ligrams">Mil•ligrams</label>
                        <input type="text" id="ubicacio" name="ubicacio" required />
                    </div>
                    <div class="form-group">
                        <label for="preu per unitat">Preu per unitat</label>
                        <input type="text" id="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="data de caducitat">Data de caducitat</label>
                        <input type="text" id="password" name="password" required />
                    </div>
                    <div class="form-group">
                        <label for="nom de proveedor">Nom de Proveedor</label>
                        <input type="text" id="password" name="password" required />
                    </div>
                    <div class="form-group">
                        <label for="category">Categories</label>
                        <select id="category" name="category">
                            <option selected disabled>Selecciona aquí</option>
                            <option value="cap">Cap</option>
                            <option value="peu">Peu</option>
                            <option value="intestins">Intestins</option>
                        </select>
                    </div>
                </div>
        
                <div class="button-wrapper">
                    <button type="submit">Afegeix</button>
                </div>
            </form>
        </div>
    </div>
        
    </div>
</body>
<script>
  lucide.createIcons();
</script>
    
    