<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>IA FARMACIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <form action="http://localhost:5000/submit" method="post"></form>
    <style>
        body { font-family: Arial, sans-serif; }
    </style>
</head>
<body>
    <div class="main-container">
      {% include 'components/sidebar.html' %}
      <div class="main-content">
        {% include 'components/header.html' %}
        <div>
            <h3>Completa aquí</h3>
            <form>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id" class="form-label">Número (ID)</label>
                            <input type="text" class="form-control" id="id">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom del Producte</label>
                            <input type="text" class="form-control" id="nom">
                        </div>
                        <div class="mb-3">
                            <label for="quantitat" class="form-label">Quantitat</label>
                            <input type="number" class="form-control" id="quantitat">
                        </div>
                        <div class="mb-3">
                            <label for="mg" class="form-label">Mil·ligrams</label>
                            <input type="text" class="form-control" id="mg">
                        </div>
                    </div>

                    <!-- Right column -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="preu" class="form-label">Preu per unitat</label>
                            <input type="text" class="form-control" id="preu">
                        </div>
                        <div class="mb-3">
                            <label for="data" class="form-label">Data de caducitat</label>
                            <input type="date" class="form-control" id="data">
                        </div>
                        <div class="mb-3">
                            <label for="proveedor" class="form-label">Nom de Proveedor</label>
                            <input type="text" class="form-control" id="proveedor">
                        </div>
                        <div class="mb-3">
                            <label for="categories" class="form-label">Categories</label>
                            <input type="text" class="form-control" id="categories">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
    </div>
</body>
<script>
  lucide.createIcons();
</script>
    
    