<!-- 
 This is the overview section of the dashboard
 Contains:
 - Overview that lists product numbers and categories
 -->

<!-- Title -->
<h2>Visió general</h2>
<div class="content">
    <!-- Section for displaying income & product -->
    <div class="overview-content-income">
        <!-- Section for displaying the amount of orders -->
        <div class="overview-content-income-orders">
            <!-- Text section to the left -->
            <div class="overview-content-income-orders-text">
                <div
                    style="font-size: 12px"
                >Comandes</div><div
                    style="font-size: 18px; font-weight: 500"
                >EUR 28.000</div>
            </div>

            <!-- Graph and arrow section to the right -->
             <div class="overview-content-income-orders-graph">
                <i data-lucide="trending-up"></i>
                <div>+70%</div>
            </div>
        </div>
        <!-- Section for displaying the amount of products -->
        <div class="overview-content-income-products">
            <!-- Text section to the left -->
            <div style="padding: 10px 15px">
                <div style="color: gray; font-size: 12px">
                    Productes
                </div>
                <div style="font-size: 22px; font-weight: 550">
                    5800
                </div>
            </div>
        </div>
    </div>
    <!-- Section for listing categories -->
    <h3>Categories</h3>
</div>