<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promotion.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>

</head>
<body>
    {% include 'components/sidebar.html' %}
    <div style="display: flex; flex-direction: column; width: 100%">
      {% include 'components/header.html' %}
      
      <!-- Actual expiration page component -->
      <div class="promotion-page">

        <!-- The actual list of expiring medications -->
        <table class="promotion-page-list">
            <thead>
                <tr>
                <th>Categoria</th>
                <th>Número (ID)</th>
                <th>Nom</th>
                <th>Qtat.</th>
                <th>Promocions</th>
                <th>Preu Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><img src="../static/images/Cap.png" alt="head" /></td>
                <td>563896293</td>
                <td>
                    <strong>Paracetamol</strong><br />
                    <small>500 mg</small>
                </td>
                <td>46</td>
                <td class="promotion">30/08/2024</td>
                <td>EUR 3,99</td>
                </tr>
                <tr>
                <td><img src="../static/images/Cap.png" alt="head" /></td>
                <td>163896292</td>
                <td>
                    <strong>Amoxicil•lina</strong><br />
                    <small>375 mg</small>
                </td>
                <td>7</td>
                <td class="promotion">01/09/2024</td>
                <td>EUR 7,99</td>
                </tr>
                <tr>
                <td><img src="../static/images/Intestins.png" alt="head" /></td>
                <td>2638962935</td>
                <td>
                    <strong>Omeprazol</strong><br />
                    <small>10 mg</small>
                </td>
                <td>32</td>
                <td class="promotion">03/09/2024</td>
                <td>EUR 8,99</td>
                </tr>
                <tr>
                <td><img src="../static/images/Cap.png" alt="head" /></td>
                <td>46339623</td>
                <td>
                    <strong>Loratadina</strong><br />
                    <small>500 mg</small>
                </td>
                <td>46</td>
                <td class="promotion">09/09/2024</td>
                <td>EUR 18,99</td>
                </tr>
                <tr>
                <td><img src="../static/images/Peu.png" alt="head" /></td>
                <td>663896292</td>
                <td>
                    <strong>Metformina</strong><br />
                    <small>75 mg</small>
                </td>
                <td>11</td>
                <td class="promotion">11/09/2024</td>
                <td>EUR 15,99</td>
                </tr>
                <tr>
                <td><img src="../static/images/Intestins.png" alt="head" /></td>
                <td>7638962935</td>
                <td>
                    <strong>Cetirizina</strong><br />
                    <small>50 mg</small>
                </td>
                <td>28</td>
                <td class="promotion">13/09/2024</td>
                <td>EUR 8,99</td>
                </tr>
            </tbody>
        </table>

        <!-- The button on the bottom -->
        <div class="promotion-page-bottom">
            <button>
                Més >>
            </button>
        </div>
      </div>
    </div>
    
</body>
</html>
<script>
  lucide.createIcons();
</script>