<nav class="sidebar">
    <div class="sidebar-top">
        <img 
            src="../static/images/Farmacia-IA.png"
            alt="Farmacia IA logo"
            class="sidebar-top-image"
        />
        <h2>IA FARMACIA</h2>
    </div>
    
    <ul class="sidebar-list">
        <li
            class="sidebar-list-item"
        ><i data-lucide="layout-grid"></i><a href="#">Tauler de control</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="chart-column"></i><a href="#">Anàlisi</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="server"></i><a href="#">Transacció</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="users"></i><a href="#">Caducitat</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="shopping-bag"></i><a href="#">Proveïdors</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="banknote-arrow-up"></i><a href="#">Ingressos</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="megaphone"></i><a href="#">Promoció</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="settings"></i><a href="#">Configuració</a></li>
    </ul>

    <hr>

    <ul class="sidebar-list">
        <li
            class="sidebar-list-item"
        ><i data-lucide="log-out"></i><a href="#">Tancar la sessió</a></li>
        <li
            class="sidebar-list-item"
        ><i data-lucide="circle-question-mark"></i><a href="#">Ajuda</a></li>
    </ul>
</nav>