<nav class="sidebar">
    <h2>IA FARMACIA</h2>
    <ul>
        <li><a href="#">Tauler de control</a></li>
        <li><a href="#">Anàlisi</a></li>
        <li><a href="#">Transacció</a></li>
        <li><a href="#">Caducitat</a></li>
        <li><a href="#">Proveïdors</a></li>
        <li><a href="#">Ingressos</a></li>
        <li><a href="#">Promoció</a></li>
        <li><a href="#">Configuració</a></li>
    </ul>

    <hr>

    <ul>
        <li><a href="#">Tancar la sessió</a></li>
        <li><a href="#">Ajuda</a></li>
    </ul>
</nav>