<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicia sessió - IA Farmàcia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body>

    <div class="login-container">

        <div class="login-header">
            <img 
                src="{{ url_for('static', filename='images/Farmacia-IA.png') }}"
                alt="Farmacia IA logo"
                class="login-logo"
            />
            <h2>IA Farmàcia</h2>
        </div>
        <div class="login-container">
            <h1>Inicia sessió</h1>
            <form action="/login" method="post">
                <label for="email">Correu electrònic</label>
                <input type="email" id="email" name="email" placeholder="Escriu el teu nom" required />
        
                <label for="password">Contrasenya</label>
                <input type="password" id="password" name="password" placeholder="Contrasenya" required />
        
                <button type="submit">Entra</button>
            </form>
        
            <p class="register">No tens compte? <a href="/register">crea compte</a></p>


        </div>
    </div>

</body>
</html>
