<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>

    <main class="main-content">
        <div class="button-bar">
            <button class="expiration-title-button">Tots ▼</button>
        </div>
      <section class="table-section">
        <table>
          <thead>
            <tr>
              <th>Número (ID)</th>
              <th>Nom</th>
              <th>Qtat.</th>
              <th>Preu</th>
              <th>Data de compra</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>56389293</td>
              <td><div class="content">
                <div>Paracetamol</div>
                <div class="subtext">500 mg</div></td>
              <td>6</td>
              <td>EUR 5,99</td>
              <td>30/08/2024</td>
            </tr>
            <tr>
                <td>56389293</td>
                <td><div class="content">
                    <div>Paracetamol</div>
                    <div class="subtext">500 mg</div></td>
                <td>6</td>
                <td>EUR 5,99</td>
                <td>30/08/2024</td>
            </tr>
            <tr>
                <td>56389293</td>
                <td><div class="content">
                    <div>Paracetamol</div>
                    <div class="subtext">500 mg</div></td>
                <td>6</td>
                <td>EUR 5,99</td>
                <td>30/08/2024</td>
            </tr>
            <tr>
                <td>56389293</td>
                <td><div class="content">
                  <div>Paracetamol</div>
                  <div class="subtext">500 mg</div></td>
                <td>6</td>
                <td>EUR 5,99</td>
                <td>30/08/2024</td>
            </tr>
            <tr>
                <td>56389293</td>
                <td><div class="content">
                  <div>Paracetamol</div>
                  <div class="subtext">500 mg</div></td>
                <td>6</td>
                <td>EUR 5,99</td>
                <td>30/08/2024</td>
            </tr>
            <tr>
                <td>56389293</td>
                <td><div class="content">
                  <div>Paracetamol</div>
                  <div class="subtext">500 mg</div></td>
                <td>6</td>
                <td>EUR 5,99</td>
                <td>30/08/2024</td>
            </tr>

            

          </tbody>
        </table>
      </section>
      <div class="button-bar">
        <button class="more-button">mes >>></button>
    </div>
    </main>
  </div>
</body>
</html>
